@page
@model MatrixModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container text-center">
    <h2 class="display-1">Your Boolean Array Is Ready !</h2>
    <hr>
    <div class="row">
        <div class="col">
            <h2>Rows Dimension:</h2>
        </div>
        <div class="col">
            <h2>Columns Dimension:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="display-3">@DataStore.CurrentArray.CountOfRows</h2>
        </div>
        <div class="col">
            <h2 class="display-3">@DataStore.CurrentArray.CountOfColumns</h2>
        </div>
    </div>
</div>
<hr>
<div class="container text-center">
    <div class="row">
        <h4 class="display-3">Get Element's Intersections by Coordinates</h4>
    </div>
    <br>
    <form asp-page-handler="FindElementNeighbours" method="POST">
        <div class="row">
            <div class="col">
                <h2>Select Element's Row</h2>
                <h4>[ 0 ... @DataStore.LastElement.Row ]</h4>
            </div>
            <div class="col">
                <h2>Select Element's Column</h2>
                <h4>[ 0 ... @DataStore.LastElement.Column ]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="number" class="custom_element" asp-for="SelectedElementRow" min="0" max="@DataStore.LastElement.Row" step="1"/>
            </div>
            <div class="col">
                <input type="number" class="custom_element" asp-for="SelectedElementCol" min="0" max="@DataStore.LastElement.Column" step="1"/>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Find Intersections"/>
        </div>
    </form>
</div>
<hr>
<div class="container text-center">
    <div class="row">
        <h4 class="display-3">Find the Shortest Route between Two Elements</h4>
    </div>
    <br>
    <form asp-page-handler="FindShortestRouteBetweenElements" method="POST">
        <div class="row">
        </div>
        <div class="row">
            <div class="col">
                <h2>Select Element A:</h2>
            </div>
            <div class="col">
                <h2>Select Element B:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="form-label">Element's A Row Index:</h5>
                <input type="number" class="custom_element" asp-for="RouteElementRow_A"
                    min="0" max="@DataStore.LastElement.Row" step="1" value="0"/>
            </div>
            <div class="col">
                <h5 class="form-label">Element's B Row Index:</h5>
                <input type="number" class="custom_element" asp-for="RouteElementRow_B"
                    min="0" max="@DataStore.LastElement.Row" step="1" value="@DataStore.LastElement.Row"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5 class="form-label">Element's A Column Index:</h5>
                <input type="number" class="custom_element" asp-for="RouteElementCol_A"
                    min="0" max="@DataStore.LastElement.Column" step="1" value="0"/>
            </div>
            <div class="col">
                <h5 class="form-label">Element's B Column Index:</h5>
                <input type="number" class="custom_element" asp-for="RouteElementCol_B"
                    min="0" max="@DataStore.LastElement.Column" step="1" value="@DataStore.LastElement.Column"/>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Find the Shortest Route"/>
        </div>
    </form>
</div>
<hr>
<div class="container text-center">
    <div class="row">
        <h4 class="display-3">Explore the Content of This Boolean Array</h4>
    </div>
    <br>
    @if (DataStore.CurrentArray.Content is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color: white; background-color: black;">#</th>
                @for (int @column = 0; @column < @DataStore.CurrentArray.CountOfColumns; @column++)
                {
                    <th scope="col" style="color: white; background-color: black;">Column: @column</th>
                }
                </tr>
            </thead>
            <tbody>
            @for (byte @row = 0; @row < @DataStore.CurrentArray.CountOfRows; @row++)
            {
                <tr>
                    <th scope="row" style="color: white; background-color: black;">Row: @row</th>
                @for (byte @column = 0; @column < @DataStore.CurrentArray.CountOfColumns; @column++)
                {
                    bool @elementCharge = @DataStore.CurrentArray.Content[@row, @column];
                    <td class="@MatrixModel.GetElementClass(@elementCharge)"
                        onclick="updateSelectedElement(`${@row}`, `${@column}`);">
                        @elementCharge
                    </td>
                }
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<hr>
<div class="container text-center"></div>
    <div class="row">
        <a class="btn btn-primary" href="/">Return to Home Page</a>
    </div>
<script>
    function updateSelectedElement(row, col) {

        let elem1 = document.getElementById('current_row');
        elem1.value = row;

        let elem2 = document.getElementById('current_col');
        elem2.value = col;

        console.log(`[ Row: ${row} ; Column: ${col} ]`);
    }
</script>