@page
@model MatrixModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <h1 class="display-2">This is a New Matrix: </h1>
    <h2>
        This Matrix has the following dimensions:
        X = @Model.TargetArray.CountOfColumns, Y = @Model.TargetArray.CountOfRows
    </h2>
    <a class="btn btn-primary" href="/">Return to Home Page</a>
    <table class="table">
        <tbody>
        @if (Model.TargetArray.Content is not null)
        {
            @for (byte @row = 0; @row < @Model.TargetArray.CountOfRows; @row++)
            {
                <tr style="back">
                @for (int @column = 0; @column < @Model.TargetArray.CountOfColumns; @column++)
                {
                    bool @elementCharge = @Model.TargetArray.Content[@row, @column];
                    <td  class="@MatrixModel.GetElementClass(@elementCharge)">@elementCharge</td>
                }
                </tr>
            }
        }
        </tbody>
    </table>
</div>