@page
@model MatrixModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <h1 class="display-2">This is a New Matrix: </h1>
    <h2>
        This Matrix has the following dimensions:
        X = @Model.TargetArray.CountOfColumns, Y = @Model.TargetArray.CountOfRows
    </h2>
    <a class="btn btn-primary" href="/">Return to Home Page</a>
    @if (Model.TargetArray.Content is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color: white; background-color: black;">#</th>
                @for (int @column = 0; @column < @Model.TargetArray.CountOfColumns; @column++)
                {
                    <th scope="col" style="color: white; background-color: black;">Column: @column</th>
                }
                </tr>
            </thead>
            <tbody>
            @for (byte @row = 0; @row < @Model.TargetArray.CountOfRows; @row++)
            {
                <tr>
                    <th scope="row" style="color: white; background-color: black;">Row: @row</th>
                @for (int @column = 0; @column < @Model.TargetArray.CountOfColumns; @column++)
                {
                    bool @elementCharge = @Model.TargetArray.Content[@row, @column];
                    <td class="@MatrixModel.GetElementClass(@elementCharge)">@elementCharge</td>
                }
                </tr>
            }
            </tbody>
        </table>
    }
</div>